<div class="grid">
	<figure class="div1">
		<img src="img/tech-1.jpg" alt="Technology">
		<figcaption>AI Globally</figcaption>
	</figure>
	<figure class="div2">
		<img src="img/money-1.jpg" alt="Money">
		<figcaption>The Currency Fluctuation</figcaption>
	</figure>
	<figure class="div3">
		<img src="img/food-1.jpg" alt="Food">
		<figcaption>Organic Food</figcaption>
	</figure>
	<figure class="div4">
		<img src="img/tech-2.jpg" alt="Future">
		<figcaption>The Future</figcaption>
	</figure>
	<figure class="div5">
		<img src="img/money-2.jpg" alt="Currency">
		<figcaption>The Transactions</figcaption>
	</figure>
	<figure class="div6">
		<img src="img/food-2.jpg" alt="Health">
		<figcaption>Healthy Food</figcaption>
	</figure>
</div>